{
  "overrides": [
    {
      "files": [ "*.test.js" ],
      "rules": {
        "max-len": [
          "warn",
          {
            "code": 120,
            "comments": 120,
            "ignoreTemplateLiterals": true,
            "ignoreRegExpLiterals": true
          }
        ]
      }
    }
  ]
}
